## Using SQL with Python

The sqlite3 Python package can be used to integrate SQLite databases with Python. The database I am using has 5 unique tables, as follows:
1) Customer
2) Distributor
3) Order Data
4) Order_Line
5) Product

In [2]:
# Code to print multiple outputs from a cell in Jupyter
get_ipython().ast_node_interactivity = 'all'

In [4]:
# Importing the package and connecting to the SQLite database
import sqlite3
connection = sqlite3.connect('coke.db')

In [6]:
# Start off with looking at the entire customer table
customer = connection.execute('SELECT * FROM CUSTOMER')
for item in customer:
    print(item)

(23, "Dave's Sub Shop", 'David Logan', '(555) 333-4545')
(43, 'Pizza Palace', 'Debbie Fernandez', '(555) 345-5432')
(765, "T's Fun Zone", 'Tom Repicci', '(555) 565-7766')

Each row of the table becomes a tuple in Python. Since we used the * after the SELECT statement, it selected all 4 columns from the table, which are as follows:
1) Customer ID
2) Name
3) Contact
4) Phone Number

### Indexing

While tuples are not able to be modified, we can index the results to format the data how we please.

In [9]:
customer = connection.execute('SELECT * FROM CUSTOMER')
for item in customer:
    print(f'The phone number for {item[1]} is {item[3]}')

The phone number for Dave's Sub Shop is (555) 333-4545
The phone number for Pizza Palace is (555) 345-5432
The phone number for T's Fun Zone is (555) 565-7766

### Closing the connection

It's important to remember to close the database connection object when done working with it. With Jupyter Lab, this is less important because the kernel ends (and thus the connection closes) when you shut down Jupyter. However, with a more sophisticated DBMS that is connecting to a database remotely, it is important to sever the connection before ending your program. Overall, it's a good habit to get into.

In [11]:
# Code to close the connection
connection.close()

## The rest of the tables

In [13]:
# Re-Connect 
connection = sqlite3.connect('coke.db')

In [14]:
# Distributor Table
distributor = connection.execute('SELECT * FROM DISTRIBUTOR')
for item in distributor:
    print(item)

('DEN8001', 'Hawkins Shipping')
('CHI3001', 'ABC Trucking')
('NY9001', 'Van Distributors')

The column headers are:
1) Distributor ID
2) Name

In [15]:
# Order Data Table
order_data = connection.execute('SELECT * FROM ORDERDATA')
for item in order_data:
    print(item)

(34561, '7/4/2008', 23, 'DEN8001', 145.75)
(34562, '8/6/2008', 23, 'DEN8001', 67.75)
(34563, '6/5/2008', 765, 'NY9001', 249.5)

The column headers are:
1) Order ID
2) Order Date
3) Customer ID
4) Distributor ID
5) Total Due

In [16]:
# Order Line Table
order_line = connection.execute('SELECT * FROM ORDER_LINE')
for item in order_line:
    print(item)

(34561, 1, '12345AA', 75)
(34561, 2, '12346BB', 50)
(34561, 3, '12347CC', 100)
(34562, 1, '12349EE', 300)
(34563, 1, '12345AA', 100)
(34563, 2, '12346BB', 100)
(34563, 3, '12347CC', 50)
(34563, 4, '12348DD', 50)
(34563, 5, '12349EE', 100)

The column headers are:
1) Order ID
2) Line Item
3) Product ID
4) Quantity

In [17]:
# Product Table
product = connection.execute('SELECT * FROM PRODUCT')
for item in product:
    print(item)

('12345AA', 'Coca-Cola', 0.55)
('12346BB', 'Diet Coke', 0.55)
('12347CC', 'Sprite', 0.55)
('12348DD', 'Diet Sprite', 0.55)
('12349EE', 'Vanilla Coke', 0.55)

The column headers are:
1) Product ID
2) Description
3) Price

# Querying

Now that we have seen all the tables in the dataset, we can start querying the data to get the answers we want. As you may have realized, all the tables are connected in some way through related columns. For example, both the Product and Order Line tables have a Product ID variable. We can use those to get the information we want across all the tables in the data.

In [18]:
# wip